# This file is managed by Ansible.

{% for nameserver in ampnameservers %}
localdns {{ nameserver }}
localdns{{ loop.index }} {{ nameserver }}
{% endfor %}

us-east-1.ec2.amazonaws.com 23.23.255.255
us-east-1.ec2.amazonaws.com 2600:1f18:2fe:900::ec2
us-east-2.ec2.amazonaws.com 52.14.64.0
us-east-2.ec2.amazonaws.com 2600:1f16:c01:4000::ec2
us-west-1.ec2.amazonaws.com 50.18.56.1
us-west-1.ec2.amazonaws.com 2600:1f1c:f64:3200::ec2
us-west-2.ec2.amazonaws.com 35.160.63.253
us-west-2.ec2.amazonaws.com 2600:1f14:84a:b000::ec2
ca-central-1.ec2.amazonaws.com 52.60.50.0
ca-central-1.ec2.amazonaws.com 2600:1f11:b15:2000::ec2
eu-west-1.ec2.amazonaws.com 34.248.60.213
eu-west-1.ec2.amazonaws.com 2a05:d018:3c:6000::ec2
eu-central-1.ec2.amazonaws.com 35.156.63.252
eu-central-1.ec2.amazonaws.com 2a05:d014:4e3:5000::ec2
eu-west-2.ec2.amazonaws.com 52.56.34.0
eu-west-2.ec2.amazonaws.com 2a05:d01c:810:8100::ec2
ap-northeast-1.ec2.amazonaws.com 13.112.63.251
ap-northeast-1.ec2.amazonaws.com 2406:da14:295:300::ec2
ap-northeast-2.ec2.amazonaws.com 52.78.63.252
ap-northeast-2.ec2.amazonaws.com 2406:da12:128:d200::ec2
ap-southeast-1.ec2.amazonaws.com 46.51.216.14
ap-southeast-1.ec2.amazonaws.com 2406:da18:ec6:6400::ec2
ap-southeast-2.ec2.amazonaws.com 13.54.63.252
ap-southeast-2.ec2.amazonaws.com 2406:da1c:16:9000::ec2
ap-south-1.ec2.amazonaws.com 35.154.63.252
ap-south-1.ec2.amazonaws.com 2406:da1a:ddd:7400::ec2
sa-east-1.ec2.amazonaws.com 52.67.255.254
sa-east-1.ec2.amazonaws.com 2600:1f1e:99e:9f00::ec2
