[Unit]
Description=DPDK Interface Mapping
Before=openvswitch-nonetwork.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/start-dpdk
ExecStop=/usr/local/bin/stop-dpdk

[Install]
WantedBy=multi-user.target
