---
- name: Install kvm
  apt:
    name: qemu-kvm
    state: installed

- name: Install libvirt
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - libvirt-daemon-system
    - libvirt-clients
  register: libvirt_install_result

- name: Install virt-install
  apt:
    name: virtinst
    state: installed

- name: Install libvirt python bindings
  apt:
    name: python-libvirt
    state: installed

- name: Install libvirt OVS ifup script
  copy:
    src: qemu-ifup-redcables
    dest: /etc/qemu-ifup-redcables
    mode: a+x

- name: Install libvirt debian bootstrap script
  copy:
    src: bootstrap-debian-vm
    dest: /usr/local/bin/bootstrap-debian-vm
    mode: a+x

- name: Define faucet VM
  virt:
    name: faucet
    command: define
    xml: "{{ lookup('template', 'faucet.xml.j2') }}"
    uri: 'qemu:///system'
  when: libvirt_install_result.changed

- name: Define nat64 VM
  virt:
    name: nat64
    command: define
    xml: "{{ lookup('template', 'nat64.xml.j2') }}"
    uri: 'qemu:///system'
  when: libvirt_install_result.changed

- name: Define unifi VM
  virt:
    name: unifi
    command: define
    xml: "{{ lookup('template', 'unifi.xml.j2') }}"
    uri: 'qemu:///system'
  when: libvirt_install_result.changed

- name: Define monitoring VM
  virt:
    name: monitoring
    command: define
    xml: "{{ lookup('template', 'monitoring.xml.j2') }}"
    uri: 'qemu:///system'
  when: libvirt_install_result.changed

- name: Define amp VM
  virt:
    name: amp
    command: define
    xml: "{{ lookup('template', 'amp.xml.j2') }}"
    uri: 'qemu:///system'
  when: libvirt_install_result.changed
