---
version: 2
faucet_configs:
    - '/etc/faucet/faucet-l3.yaml'
    - '/etc/faucet/faucet-l2.yaml'
watchers:
    port_stats_poller:
        type: 'port_stats'
        all_dps: True
        interval: 10
        db: 'prometheus'
    port_state_poller:
        type: 'port_state'
        all_dps: True
        interval: 10
        db: 'prometheus'
    flow_table_poller:
        type: 'flow_table'
        interval: 60
        all_dps: True
        db: 'prometheus'
dbs:
    prometheus:
        type: 'prometheus'
        prometheus_port: 9303
        prometheus_addr: '192.168.122.6'
