---
version: 2
faucet_configs:
    - '/etc/ryu/faucet/faucet.yaml'
    - '/etc/ryu/faucet/faucet-at.yaml'
watchers:
    port_stats_poller:
        type: 'port_stats'
        dps: ['ovs-redcables', 'ovs-redcables6', 'at-x930-1', 'at-x930-2', 'cisco-3850']
        interval: 10
        db: 'influx'
    flow_table_poller:
        type: 'flow_table'
        interval: 240
        dps: ['ovs-redcables', 'ovs-redcables6', 'at-x930-1', 'at-x930-2', 'cisco-3850']
        db: 'ft_file'
dbs:
    influx:
        type: 'influx'
        influx_db: '{{influx_database}}'
        influx_host: 'localhost'
        influx_port: 8086
        influx_user: '{{influx_username}}'
        influx_pwd: '{{influx_password}}'
        influx_timeout: 10
    ft_file:
        type: 'text'
        file: '/var/log/ryu/faucet/flow_table.json'
