# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "faucet.rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    static_configs:
      - targets: ['monitoring.int.redcables.wand.nz:9090']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:(.*)
        replacement: ${1}.redcables.wand.nz
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['monitoring.int.redcables.wand.nz:9091']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:(.*)
        replacement: ${1}.redcables.wand.nz
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['allbirds.int.redcables.wand.nz:9100']
      - targets: ['faucet.int.redcables.wand.nz:9100']
      - targets: ['faucet-zof.int.redcables.wand.nz:9100']
      - targets: ['nat64.int.redcables.wand.nz:9100']
      - targets: ['monitoring.int.redcables.wand.nz:9100']
      - targets: ['amp.int.redcables.wand.nz:9100']
      - targets: ['awdy.int.redcables.wand.nz:9100']
      - targets: ['builder-1.int.redcables.wand.nz:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:(.*)
        replacement: ${1}.redcables.wand.nz
  - job_name: 'faucet'
    static_configs:
      - targets: ['faucet.int.redcables.wand.nz:9302']
      - targets: ['faucet.int.redcables.wand.nz:9301']
      - targets: ['faucet-zof.int.redcables.wand.nz:9301']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:9301
        replacement: ${1}
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:9302
        replacement: ${1}-l2
  - job_name: 'gauge'
    static_configs:
      - targets: ['monitoring.int.redcables.wand.nz:9303']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (.*)\.int\.redcables\.wand\.nz:9303
        replacement: ${1}
