---
- name: restart gauge
  service:
    name: gauge
    state: restarted

- name: restart influxdb
  service:
    name: influxdb
    state: restarted

- name: restart grafana
  service:
    name: grafana-server
    state: restarted
