!
service password-encryption
!
hostname at-x230-1
!
no banner motd
!
!
ssh server v2only
ssh server allow-users *
service ssh
!
no service telnet
!
no service http
!
clock timezone NZST plus 12:00
!
snmp-server
!
!
aaa authentication enable default local
aaa authentication login default local
!
!
ntp server 172.16.0.254
!
ip domain-name mgmt.wand.net.nz
ip name-server 172.16.0.254
ip domain-lookup
!
!
!
no service dhcp-server
!
no ip multicast-routing
!
spanning-tree mode rstp
!
openflow controller tcp 172.16.0.200 6652
openflow controller tcp 172.16.0.201 6654
openflow native vlan 4090
service power-inline
lacp global-passive-mode enable
no spanning-tree rstp enable
!
vlan database
 vlan 99,250-251,4090 state enable
!
interface port1.0.1-1.0.9
 openflow
 switchport
 switchport mode access
 switchport access vlan 4090
!
interface port1.0.10
 openflow
 switchport
 switchport mode trunk ingress-filter disable
 switchport trunk allowed vlan add 99
 switchport trunk native vlan 4090
!
interface vlan99
 ip address 172.16.0.54/24
!
interface vlan4089
 no ip igmp snooping tcn query solicit
!
line con 0
line vty 0 4
!
end

