!
service password-encryption
!
hostname at-x510-2
!
no banner motd
!
ssh server v2only
ssh server allow-users *
service ssh
!
platform hwfilter-size ipv4-full-ipv6
!
no service telnet
!
no service http
!
clock timezone NZST plus 12:00
!
snmp-server
!
!
aaa authentication enable default local
aaa authentication login default local
!
!
!
no stack 1 enable
!
ntp server 172.16.0.254
!
ip domain-name mgmt.wand.net.nz
ip name-server 172.16.0.254
ip domain-lookup
!
!
!
no service dhcp-server
!
!
!
no ip multicast-routing
!
spanning-tree mode rstp
!
openflow controller tcp 172.16.0.200 6652
openflow controller tcp 172.16.0.201 6654
openflow native vlan 4090
no lacp global-passive-mode enable
no spanning-tree rstp enable
!
switch 1 provision x510-52
!
vlan database
 vlan 2-100 state enable
 vlan 101-251,4089-4090 state enable
!
interface port1.0.1-1.0.47
 openflow
 switchport
 switchport mode access
 switchport access vlan 4090
!
interface port1.0.48
 switchport
 switchport mode access
 switchport access vlan 4089
!
interface port1.0.49-1.0.52
 openflow
 switchport
 switchport mode access
 switchport access vlan 4090
!
interface vlan4089
 ip address 172.16.0.37/24
!
interface vlan4090
 no ip igmp snooping tcn query solicit
!
line con 0
line vty 0 4
!
end

